* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Шапка страницы */
.header {
  width: 100%;
  height: 10vh; /* 10% высоты окна */
  background-color: #3c8f49;
  text-align: center;
  font-size: 24px;
}

/* Подвал страницы */
.footer {
  width: 100%;
  height: 10vh;
  background-color: #3a778a;
  font-size: 18px;
  position: relative;
}

/* Контейнер для меню и контента */
.main {
  display: flex;
  flex: 1;
}

/* Боковое меню */
.menu {
  width: 100px;
  min-width: 100px;
  background-color: #b19519;
}

/* Основной контент */
.content {
  flex: 1;
  background-color: #a74c4c;
  padding: 10px;
}